@font-face { 
	font-family: 'SCoreDream'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); 
	font-weight: 400; 
	font-style: normal; 
    font-size: 18px;
}
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 2 !important;
}
/* 제목 폰트 사이즈 */
.md-typeset h1 {
    font-weight: 600;
    letter-spacing: -.015em;
    color: rgb(15 23 42) !important;
}
.md-typeset h2 {
    font-weight: 600;
    letter-spacing: -.015em;
    color: rgb(15 23 42) !important;
}
.md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
    font-weight: 600;
    letter-spacing: -.015em;
    color: rgb(15 23 42) !important;
}
/* 문장 내부(이탤릭) 강조 색상 */
em{
    color: teal;
}
.md-typeset code {
    background-color: hsl(212deg 100% calc(calc(50% /50) * 39)/.05);
    border-radius: 10px;
}
.md-typeset pre>code {
    white-space: pre-wrap;
}    
.md-typeset p>code {
    background-color: #f2f4f4;
}
.md-search__form {
    background-color: hsl(212deg 100% calc(calc(50% /50) * 39)/.05) !important;;
    border-radius: 10px !important;
}
.md-header {
    padding: 5px;
}
.md-header__title {
    margin-left: 0 !important;
}
.md-typeset details.abstract {
/* background-color: #e9f7ef !important; */
border: 0 !important;
}
.md-typeset details.info {
    border: 0 !important;
}
.md-typeset .info>summary {
    background-color: #e9f7ef !important; 
} 
.md-typeset details.quote {
    border: 0 !important;
}
.md-typeset .quote>summary:before {
display: none !important;
}
.md-typeset .quote>summary {
    padding-left: 1rem !important;
}    
.md-footer {
    background-color: #f2f4f4 !important;
    color: #000;
}
.md-footer-meta {
    background-color: #eaecee !important;
    color: #000;
}
.md-copyright {
    color: #000 !important;
}
.md-copyright__highlight {
    color: #000 !important;
}
.md-footer-meta.md-typeset a {
    color: #000 !important;
}
.md-typeset mark {
    font-size: .85em;
    border-radius: 2px;
    padding: 0 .2941176471em;
    background-color:#fff0b3;
}
.md-typeset mark.critic {
    font-size: .8rem;
    border-radius: 2px;
    padding: 0 .3em;
    /* background-color: var(--md-typeset-mark-color); */
    background-color:#fff0b3;
}
ins {
    font-size: .85em;
    border-radius: 10px;
    padding: 0 .2941176471em;
    background-color: #e9f7ef;
    text-decoration: none;
}
.md-typeset ins.critic {
    background-color: #f2f4f4;
    text-decoration: none;
}
.md-typeset del.critic {
    /* background-color: var(--md-typeset-del-color); */
    background-color: #cceeff;
    text-decoration: none;
    font-size: .85em;
    border-radius: 2px;
    padding: 0 .2941176471em;
}
del {
    background-color: var(--md-typeset-del-color);
    text-decoration: none;
    font-size: .85em;
    border-radius: 2px;
    padding: 0 .2941176471em;
}